<ion-row>
  <ion-col size-md="6" offset-md="3">
    <!-- LANGUAGES -->
    <ion-card color="secondary">
      <ion-card-header color="primary">
        <ion-card-title>Languages</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>HTML</ion-label>
          <ion-icon name="logo-html5" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>CSS</ion-label>
          <ion-icon name="logo-css3" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>JavaScript</ion-label>
          <ion-icon name="logo-javascript" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>TypeScript</ion-label>
          <!-- <ion-icon name="logo-typescript" slot="end"></ion-icon> -->
        </ion-item>
        <ion-item>
          <ion-label>Python</ion-label>
          <ion-icon name="logo-python" slot="end"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <!-- TOOLS -->
    <ion-card>
      <ion-card-header color="secondary">
        <ion-card-title>Tools</ion-card-title>
      </ion-card-header>
      <ion-card-content color="medium">
        <ion-list>
          <ion-item>
            <ion-label>VS Code</ion-label>
            <!-- <ion-icon name="logo-vscode" slot="end"></ion-icon> -->
          </ion-item>
          <ion-item>
            <ion-label>Angular</ion-label>
            <ion-icon name="logo-angular" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Node.js</ion-label>
            <ion-icon name="logo-nodejs" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Git</ion-label>
            <ion-icon name="logo-github" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Terminal</ion-label>
            <ion-icon name="terminal" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- SOFT SKILLS -->
    <ion-card>
      <ion-card-header color="tertiary">
        <ion-card-title>Soft Skills</ion-card-title>
      </ion-card-header>
      <ion-card-content color="medium">
      <ion-item>
        <ion-label>Communication</ion-label>
        <ion-icon name="chatbubbles" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Teamwork</ion-label>
        <ion-icon name="people" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Problem Solving</ion-label>
        <ion-icon name="construct" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Time Management</ion-label>
        <ion-icon name="time" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Organization</ion-label>
        <ion-icon name="folder" slot="end"></ion-icon>
      </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

