<div #bgworkHistory class="bg-work-history">
  <swiper-container
    #swiper
    class="swiper-container"
    [height]='slideHeight'
    [width]='slideWidth'
    [parralax]="true"
    effect="creative"
    [creativeEffect]="creativeEffect"
    [mousewheel]="mousewheel"
    >
    <swiper-slide>
        <h1>Technical Support Engineer</h1>
          <p class="ion-text-center">
            02/2021 to 12/2022
          </p>
      <div>
        <ul class="work-details--list">
            <li>
                <h3>Customer Service Management</h3>
                <span>
                  delivered quarterly business reviews and technical strategy sessions to C-Level Execs and
                  Developers, recommended improvements, highlighted
                  potential upgrades and process improvements.
                </span>
            </li>
            <li>
                <h3>Pre-Sales Support</h3>
                <span>
                  Offered technical expertise to sales team
                  to understand customer requirements.
                </span>
            </li>
            <li><h3>Onboarding </h3>
                <span>
                  Configured and delivered customer demos and
                  user workshops on product features and benefits
                </span>
            </li>
            <li>
                <h3>Professional Services</h3>
                <span>
                  wrote custom JavaScript code to
                  optimize customer-side integrations.
                </span>
              </li>
        </ul>

    </div>
    </swiper-slide>
      <!-- T3 CUSTOMER SUPPORT LEAD -->
    <swiper-slide>
        <h1>(T/3) Customer Support Lead</h1>
      <div>
        <p class="ion-text-center">
          01/2019 - 02/2021
        </p>
        <ul class="work-details--list">
            <li>
                <span>
                  Pre and post sales technical support and troubleshooting via
                  phone, chat, and email.
                </span>
            </li>
            <li>
                <span>
                  Prepared requirements for support and escalation processes to better communicate
                  feature and support issues for engineering and product team.
                </span>
            </li>
            <li>
                <span>
                  2019 & 2020 Gold Stevie Award winners - Customer Service Department.
                </span>
            </li>
            <li>
                <span>
                  Live chat support coverage - 8 second personal response time with 98% customer satisfaction rating.
                  Coached support team down from 15 second response time to 10 seconds.
                </span>
              </li>
        </ul>

    </div>
    </swiper-slide>

    <swiper-slide>
      <h1>Other Work History</h1>
      <div>
        <ul>
            <li>
                <h3>Jr Web Develper</h3>
                <p>
                  02/2016 to 07/2018
                </p>
                <span>
                  Devloped client side interface for online nursing school.  JavaScript, HTML5, CSS3, Bootstrap
                </span>
            </li>
            <li>
                <h3>Operations Mulitmedia Developer </h3>
                <p>
                  07/2015 to 02/2016
                </p>
                <span>
                  Maintained usability and design of internal educational portal
                  website and online training tools - JavaScript, HTML, CSS
                </span>
            </li>
            <li>
                <h3>Apple - Technical Expert</h3>
                <p>
                  11/2007 to 01/2013
                </p>
                <span>
                  Delivered technical support to clients by offering solutions based on specific problems and concerns.
                </span>
            </li>
        </ul>
      </div>
    </swiper-slide>

    <swiper-slide>
      <h1>Education & other Training</h1>
      <div>
        <ul>
            <li>
                <h3 class="ion-magin-bottom">Galvanized Hack Refacter Bootcamp</h3>
                <p>
                  6/2015 - 1/2016
                </p>
                <span>
                  JavaScript focus intensive boot camp HTML, CSS, JavaScript projects
                  MEAN stack cornerstone project
                  Some exposure: Ruby, Postgres, Java, Query, Git, Agile development, TDD
                </span>
            </li>
            <li>
                <h3>Milwaukee Area Technical College </h3>
                <p>
                  Graphic design
                  2006 to 2007
                </p>
            </li>
        </ul>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
